/*最下边四个button的设置的开始*/


/*下边四个可点击按钮的图案设置*/

#first_page {
    background-image: url("../images/homepage.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    min-height: 98vh;
}

#home_page {
    width: 100%;
    height: 25vh;
    position: fixed;
    bottom: 0%;
}

/*button中字体风格和颜色的设置*/

.homepage_button_typeface1 {
    font-size: 2.7vw;
    word-break: break-word;
    color: #fee375;
    text-shadow: -2px -2px black, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black;
}

.homepage_button_typeface2 {
    word-break: break-word;
    color: lightcoral;
    text-shadow: -2px -2px gray, 1px 1px gray, 2px 2px gray, 3px 3px gray, 4px 4px gray, 5px 5px gray, 6px 6px gray, 7px 7px gray;
}

#home_page_bottom_button {
    opacity: 0.9;
}


/*personal details所有设置*/

#user_container {
    width: 25%;
    height: 22vh;
    clip-path: polygon(50% 0%, 100% 100%, 12% 100%, 23% 19%);
    float: left;
    background: beige;
    opacity: 0.9;
    bottom: -2%;
    text-align: center;
    border-color: black;
}

#user_front,
#user_back {
    width: 90%;
    height: 90%;
    margin-left: 1vw;
    margin-top: 1vh;
    background: peru;
    clip-path: polygon(50% 0%, 100% 100%, 12% 100%, 23% 19%);
    position: absolute;
    align-items: center;
    display: flex;
}

#user_typeface1,
#user_typeface3 {
    background: peru;
    margin: 0 auto;
    width: 45%;
}


/*personal details所有设置完成*/


/*leaderboard所有设置*/

#leaderboard_container {
    width: 25%;
    height: 22vh;
    background: beige;
    clip-path: polygon(99% 30%, 84% 100%, 40% 100%, 0 0%);
    float: left;
    margin-right: -1.5vw;
    margin-left: -6vw;
    opacity: 0.9;
}

#leaderboard_front,
#leaderboard_back {
    width: 90%;
    height: 90%;
    margin-left: 1.5vw;
    margin-top: 1.4vh;
    background: peru;
    clip-path: polygon(99% 30%, 84% 100%, 40% 100%, 0 0%);
    position: absolute;
    align-items: center;
    display: flex;
}

#leaderboard_typeface1 {
    background: peru;
    padding-left: 4.7vw;
    width: 100%;
}

#leaderboard_typeface2 {
    background: peru;
    padding-left: 9.5vw;
    width: 55%;
}

/*leaderboard所有设置完成*/

/*introduction 所有设置开始*/
#introduction_container {
    width: 30%;
    height: 22vh;
    background: beige;
    clip-path: polygon(46% 0%, 84% 37%, 82% 100%, 18% 100%, 16% 11%);
    bottom: -2%;
    text-align: center;
    float: left;
    margin-right: -7vw;
    margin-left: -1vw;
    opacity: 0.9;
}

#introduction_front,
#introduction_back {
    width: 90%;
    height: 90%;
    margin-left: 1.5vw;
    margin-top: 1.2vh;
    position: absolute;
    align-items: center;
    display: flex;
    background: peru;
    clip-path: polygon(46% 0%, 84% 37%, 82% 100%, 18% 100%, 16% 11%);
}

#introduction_typeface1 {
    background: peru;
    padding-left: 5.5vw;
    width: 60%;
}

#introduction_typeface2 {
    background: peru;
    padding-left: 5.5vw;
    width: 55%;
}


/*introduction 所有设置结束*/
/*play 所有设置开始*/

#play_container {
    width: 30%;
    height: 22vh;
    background: beige;
    clip-path: polygon(74% 4%, 100% 19%, 100% 99%, 18% 100%, 26% 36%);
    float: right;
    margin-right: 2.5vw;
    margin-left: -5vw;
    bottom: -2%;
    text-align: center;
    opacity: 0.9;
}

#play_front,
#play_back {
    width: 90%;
    height: 90%;
    margin-left: 1.8vw;
    margin-top: 1.2vh;
    position: absolute;
    align-items: center;
    display: flex;
    background: peru;
    clip-path: polygon(74% 4%, 100% 19%, 100% 99%, 18% 100%, 26% 36%);
}

#play_typeface1 {
    background: peru;
    padding-left: 10vw;
    width: 55%;
    font-size: 5.5vw;
    word-break: break-word;
    color: mediumseagreen;
    text-shadow: -2px -2px gray, 1px 1px gray, 2px 2px gray, 3px 3px gray, 4px 4px gray, 5px 5px gray, 6px 6px gray, 7px 7px gray;
}

#play_typeface2 {
    padding-left: 10vw;
    width: 55%;
    word-break: break-word;
    color: mediumseagreen;
    text-shadow: -2px -2px gray, 1px 1px gray, 2px 2px gray, 3px 3px gray, 4px 4px gray, 5px 5px gray, 6px 6px gray, 7px 7px gray;
}


/*play 所有设置结束*/

/*3D反转动画的实现开始*/
.container {
    position: relative;
    perspective: 1000px;
}
.front,
.back {
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
    transform-style: preserve-3d;
}

.back {
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(180deg);
}

.container:hover .front {
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(180deg);
}

.container:hover .back {
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(360deg);
}


/*3D反转动画的实现结束*/

/*最下边四个button的设置的结束*/


/*login button的设置开始*/

#log_in_button_container,
#log_out_button_container {
    position: fixed;
    background: beige;
    width: 15vw;
    height: 10vw;
    top: 0px;
    right: 10px;
    border-radius: 25px;
    /*animation: move 2s 2;*/
    opacity: 0.8;
}


/*实现一打开网页log in 跳跃开始*/





/*实现一打开网页log in 跳跃结束*/

#log_in_button:active {
    background: beige;
}

#log_out_button:active {
    background: beige;
}

#log_in_button,
#log_out_button {
    /*position: relative;*/
    width: 13vw;
    height: 8vw;
    margin-top: 1vw;
    margin-left: 1vw;
    border-radius: 25px;
    background: peru;
    text-align: center;
    position: relative;
}

#log_in_typeface1 {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 1vw;
    margin-left: 0.2vw;
    font-size: 2vw;
    color: #fee375;
    text-shadow: -2px -2px black, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black;
}

#log_out_typeface1 {
    text-align: center;
    margin-top: 1vw;
    margin-left: 0.2vw;
    padding-top: 0.5vw;
    font-size: 2vw;
    color: #fee375;
    text-shadow: -2px -2px black, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black;
}

#log_out_typeface2 {
    text-align: center;
    margin-left: 0.2vw;
    font-size: 1.5vw;
    color: white;
    text-shadow: -2px -2px black, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black;
}


/*login button的设置结束*/
/*retype设置开始*/
.word {
    perspective: 1000px;
    text-align: center;
    position: absolute;
    margin-left: 30%;
    margin-top: 18vh;
    color: #fee375;
    text-shadow: -2px -2px black, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black;
    display: inline;
    float: left;
}
.word span {
    position: relative;
    display: inline-block;
    font-size: 10vw;
    margin-right: 2vw;
}

#R {
    animation: left_r 2.5s 2 ease-out;
    transform-origin: 0% 100% 1vw;
}

@keyframes left_r {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#E1 {
    animation: jump_e1 2s 2 ease-in-out;
    transform-origin: bottom;
}

@keyframes jump_e1 {
    25% {
        transform: scale(1.5, 0.5);
    }
    50% {
        transform: translate(0, -50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#T {
    animation: down_t 2s 2 ease-out;
    transform-origin: top;
}

@keyframes down_t {
    25% {
        transform: scale(1.5, 0.5);
    }
    50% {
        transform: translate(0, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#Y {
    animation: rotate_y 2s 2 ease-out;
}

@keyframes rotate_y {
    20% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

#P {
    animation: rotate_p 2s 2 ease-out;
}

@keyframes rotate_p {
    20% {
        transform: rotateZ(90deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#E2 {
    animation: right_r 2.5s 2 ease-out;
    transform-origin: 0% 100% 1vw;
}

@keyframes right_r {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/*retype设置结束*/


/*login*/

.login_modal,
.register_modal {
    z-index: 1;
    left: 38%;
    top: 5%;
    width: 30%;
    height: auto;
    overflow: auto;
    background: #2b2b36;
    position: absolute;
    display: none;
    /*margin: 3% auto 0 auto;*/
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 20px;
    animation: jumpdown 1s ease-out;
    opacity: 0.98;
    float: left;
}

.leaderboard_page {
    z-index: 1;
    margin: 0 auto;
    background: linear-gradient(#555, #222);
    border-radius: 12px;
    perspective: 400px;
    transform-style: preserve-3d;
    box-shadow: 0 7px 20px #242424;
    position: absolute;
    left: 38%;
    top: 5%;
    width: auto;
    height: auto;
    overflow: auto;
}

.leaderboard_page h1 {
    margin: 0;
    text-align: center;
    background: linear-gradient(#393939, #373737);
    font-size: 1.5rem;
    color: #e1e1e1;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
}

.leaderboard_page th {
    margin: 0;
    text-align: center;
    background: linear-gradient(#393939, #373737);
    font-size: 1.5rem;
    color: #e1e1e1;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 10px 10px 0 0;
}

.rank td {
    font-size: 1.25rem;
    text-align: center;
    padding: 1.25rem 0.625rem 1.25rem 1.5rem;
    cursor: pointer;
    transform: translateZ(0) scale(1, 1);
    transition: box-shadow .2s ease-in-out;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 0 0 0.5rem 1px rgba(0, 0, 0, 0.15);
    color: #e1e1e1;
}


/*猫头鹰*/

.owl {
    background: url(../images/animal.png) no-repeat center;
    width: 100%;
    height: 150px;
    /*padding-bottom: 10px;*/
}


/*提示框*/

#error_box {
    float: left;
    margin-left: 69%;
    margin-top: 220px;
    animation: fade_in 1.5s;
    transform-origin: left;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 55%);
    border-radius: 10px;
    opacity: 0.98;
    display: none;
}

.error_button {
    background: url('../images/close.png') no-repeat center papayawhip;
    background-size: 30px;
    width: 45px;
    height: 45px;
    float: right;
    border-radius: 15px;
}

#error_text {
    width: 80%;
    height: 90%;
    text-align: left;
    margin-top: 0px;
    margin-left: 9%;
    padding-top: 11%;
    font-size: 20px;
    word-break: break-word;
    color: #fee375;
    text-shadow: -2px -2px black, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: scale(0.0, 0.0);
    }
    25% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

@keyframes jumpdown {
    0% {
        transform: translate(0, -100px);
    }
    50% {
        transform: translate(0, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

input[type="username"] {
    width: 70%;
    padding: 1em 2em 1em 3em;
    color: #9199aa;
    font-size: 18px;
    outline: none;
    background: url(../images/adm.png) no-repeat 10px 15px;
    border: none;
    font-weight: 100;
    border-bottom: 1px solid #484856;
}

input[name="psw"] {
    width: 70%;
    padding: 1em 2em 1em 3em;
    color: #dd3e3e;
    font-size: 18px;
    outline: none;
    background: url(../images/key.png) no-repeat 10px 23px;
    border: none;
    font-weight: 100;
    border-bottom: 1px solid #484856;
    margin-bottom: 3em;
}

input[name="psw1"] {
    width: 70%;
    padding: 1em 2em 1em 3em;
    color: #dd3e3e;
    font-size: 18px;
    outline: none;
    background: url(../images/key.png) no-repeat 10px 23px;
    border: none;
    font-weight: 100;
    border-bottom: 1px solid #484856;
}

input[type="email"] {
    width: 70%;
    padding: 1em 2em 1em 3em;
    color: #dd3e3e;
    font-size: 18px;
    outline: none;
    background: url(../images/email.png) no-repeat 10px 23px;
    border: none;
    font-weight: 100;
    border-bottom: 1px solid #484856;
}

input[type="text"] {
    width: 70%;
    padding: 1em 2em 1em 3em;
    color: #dd3e3e;
    font-size: 18px;
    outline: none;
    background: url(../images/key.png) no-repeat 10px 23px;
    border: none;
    font-weight: 100;
    border-bottom: 1px solid #484856;
    margin-bottom: 3em;
}


/* Modal Content/Box */


/* Modal Content/Box */

.btnlogin {
    font-size: 30px;
    color: #fff;
    outline: none;
    border: none;
    background: burlywood;
    width: 95%;
    padding: 18px 0;
    border-radius: 15px;
    /*-webkit-border-bottom-left-radius: 15px;*/
    /*-moz-border-bottom-left-radius: 15px;*/
    /*-o-border-bottom-left-radius: 15px;*/
    /*border-bottom-right-radius: 15px;*/
    /*-webkit-border-bottom-right-radius: 15px;*/
    /*-moz-border-bottom-right-radius: 15px;*/
    /*-o-border-bottom-right-radius: 15px;*/
    cursor: pointer;
}

.btnlogin:hover {
    opacity: 0.5;
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    -o-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    -o-border-bottom-right-radius: 15px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}

.btnregister {
    font-size: 30px;
    color: #fff;
    outline: none;
    border: none;
    background: burlywood;
    width: 95%;
    padding: 18px 0;
    border-radius: 15px;
    /*-webkit-border-bottom-left-radius: 15px;*/
    /*-moz-border-bottom-left-radius: 15px;*/
    /*-o-border-bottom-left-radius: 15px;*/
    /*border-bottom-right-radius: 15px;*/
    /*-webkit-border-bottom-right-radius: 15px;*/
    /*-moz-border-bottom-right-radius: 15px;*/
    /*-o-border-bottom-right-radius: 15px;*/
    cursor: pointer;
    margin-bottom: 20px;
}

.btnregister:hover {
    opacity: 0.5;
    border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    -o-border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    -o-border-bottom-right-radius: 15px;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
}

.cancelbtn {
    background: url('../images/close.png') no-repeat center papayawhip;
    background-size: 30px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 15px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}


/*--/close--*/

.code {
    font-size: 18px;
    width: 70%;
    padding: 1em 2em 1em 3em;
}

.code:hover {
    background: #F6F9FE;
    color: #174ea6;
}

/*选择困难度界面*/

* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

/*body  {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    overflow: hidden;*/
/*    background: #FFE4B5;*/
/*}*/


#difficult_page{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #336699;
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    min-width: 100%;
    min-height: 100%;

    border-bottom-right-radius: 35%;
    border-top-left-radius: 15%;

}

.wrap {
    position: relative;
    /*background: #FFE4B5;*/
    height: 250px;
    width: 380px;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
    perspective: 900px;
    margin-top:230px;
    margin-left: 39%;
    margin-right: 20%;
}

.cards_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0) translateZ(-700px);
    justify-content: center;
    align-items: center;
}

.cards_wrap_1 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0) translateZ(-700px);
    animation: rotate 1s;
    justify-content: center;
    align-items: center;
    animation-fill-mode: forwards;
}

.cards_wrap_2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0) translateZ(-700px);
    animation: rotate2 1s;
    justify-content: center;
    align-items: center;
    animation-fill-mode: forwards;
}

.cards_wrap_3 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(0) translateZ(-700px);
    animation: rotate3 1s;
    justify-content: center;
    align-items: center;
    animation-fill-mode: forwards;
}

.item {
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
}

#i1 {
    background: url(../images/bg2.png) no-repeat top center;
    background-size: cover;
    opacity: 0.7;
    transform: rotateY(0) translateZ(700px);
}

#b1 {
    opacity: 0.7;
    transform: rotateY(0deg) translateZ(700px);
    background-color: chocolate;
    animation: fade_in_style_b1 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes fade_in_style_b1 {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateY(0deg) translateZ(700px) ;
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

#b1 p {
    font-size: 40px;
    padding-top: 15%;
}

#b1 a {
    font-size: 30px;
}

#i2 {
    background: url(../images/bg1.png) no-repeat top center;
    background-size: cover;
    opacity: 0.7;
    transform: rotateY(120deg) translateZ(700px);

}

#b2 {
    opacity: 0.7;
    transform: rotateY(120deg) translateZ(700px);
    background-color: chocolate;
    animation: fade_in_style_b2 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes fade_in_style_b2 {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateY(120deg) translateZ(700px) ;
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

#b2 p {
    font-size: 40px;
    padding-top: 15%;
}

#b2 a {
    font-size: 30px;
}

#i3 {
    background: url(../images/bg3.png) no-repeat top center;
    background-size: cover;
    opacity: 0.7;
    transform: rotateY(240deg) translateZ(700px);
}

#b3 {
    opacity: 0.7;
    transform: rotateY(240deg) translateZ(700px);
    background-color: chocolate;
    animation:  fade_in_style_b3 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
@keyframes fade_in_style_b3 {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateY(240deg) translateZ(700px) ;
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

#b3 p {
    font-size: 40px;
    padding-top: 15%;
}

#b3 a {
    font-size: 30px;
}

.difficult_button {
    font-size: 45px;
    outline: none;
    border: none;
    /*background: burlywood;*/
    width: 70vw;
    padding: 15px 0;
    border-radius: 15px;
    cursor: pointer;
    background:burlywood;
    color: #fee375;
    text-shadow: -1px -1px black, 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black;
    font-weight: bold;
    font-style: italic;
    margin-left: 60%;




}

.difficult_button:hover{
    background-image: linear-gradient(to left , #03a9f4,#f441a5,rgb(124, 241, 241),#e3a5f0,#03a9f4);
    background-size: 400%;
    animation: run 4s linear 0s infinite;
}
@keyframes run{
    100%{
        background-position: 400% 0px;
    }

}



@keyframes rotate {
    0% {
        transform: translateZ(-700px) rotateY(0);
    }
    100% {
        transform: translateZ(-700px) rotateY(-120deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: translateZ(-700px) rotateY(-120deg);
    }
    100% {
        transform: translateZ(-700px) rotateY(-240deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: translateZ(-700px) rotateY(-240deg);
    }
    100% {
        transform: translateZ(-700px) rotateY(-360deg);
    }
}

.cancelbtn_play {
    background: url('../images/close.png') no-repeat center papayawhip;
    background-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 2px;
    top: 1px;
    border-radius: 15px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.homebtn-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}

.homebtn-container:nth-child(1) {
    --btn-bg: #fac300;
    --bg: #fc6100;
}

.backhome {
    right: 20px;
    top: 10px;
    --width: 200px;
    --height: 60px;
    border: 0;
    position: fixed;
    min-width: var(--width);
    min-height: var(--height);
    border-radius: var(--height);
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-weight: bold;
}

.backhome .text,
.backhome .icon-container {
    position: relative;
    z-index: 2;
}

.backhome .icon-container {
    --icon-size: 25px;
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: 15px;
    transition: transform 500ms ease;
}

.backhome .icon-container .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--icon-size);
    height: var(--icon-size);
    transition: transform 500ms ease, opacity 250ms ease;
}

.backhome .icon-container .icon--left {
    transform: translateX(-200%);
    opacity: 0;
}

.backhome .icon-container .icon svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.backhome::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--btn-bg);
    border-radius: var(--height);
    z-index: 1;
    transition: transform 500ms ease;
}

.backhome:hover::after {
    transform: translateX(70%);
}

.backhome:hover .icon-container {
    transform: translateX(40%);
}

.backhome:hover .icon-container .icon--left {
    transform: translateX(0);
    opacity: 1;
}

.backhome:hover .icon-container .icon--right {
    transform: translateX(200%);
    opacity: 0;
}

/*选择困难界面结束*/

